<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" th:lang="en">
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />

<head th:replace="admin/common/layout :: admin-header-link"></head>
<body>

 <div id="wrapper">
        <!-- Top Bar Start -->
        <div class="topbar" th:replace="admin/common/layout :: admin-navbar"></div>
        <!-- Top Bar End -->
        <!-- ========== Left Sidebar Start ========== -->
        <div class="left side-menu" th:replace="admin/common/layout :: admin-sidebar"></div>
        <!-- Left Sidebar End -->
        <!-- ============================================================== -->
        <!-- Start right Content here -->
        <!-- ============================================================== -->
        <div class="content-page">
            <!-- Start content -->
            <div class="content">
            <!-- test -->
                <div class="container-fluid">
                    <div class="row">
                    
                        <div class="col-sm-12">
                            <div class="page-title-box">
                                <div class="card m-b-20">
                                    <div class="card-body">
                                        <div class="row ">
                                        <div class="col-md-12 m-b-15">
												<h4 class="mt-0 header-title">
													  Add New Topic 
												<div class="col-md-4 m-b-15">	  
													  
												<!--	<button class="btn btn-primary btn-md m-1" type="button"
														data-toggle="modal" data-target="#addModal"
														style="float: right;">Add New Subject</button>-->
												</h4>
												</div>
<!-- 												
<!--                                             	</div> -->
												
											</div>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12">
                            <div class="page-title-box">
                                <div class="card m-b-20">
                                    <div class="card-body">
                                        <div class="row ">
                 <!-- ********Form *********-->                       												
                                             <form id="insert">
                                             <div class="row">
                                        
                                               <div class="col-md-8 form-group mb-12">
                                                <label for="subCategory">Select Subject </label>
                                                
                                                 <select class="form-control form-control-rounded" name="subjectName" id="subjectName">
                                                 </select>
                                                <!--<input class="form-control form-control-rounded" name="subjectName"  type="text"  title="only alphabets and spaces allowed" required />-->
                                            </div>
                                           
                                            <div class="col-md-8 form-group mb-12">
                                                <label for="subCategory">Topic Name</label>
                                                <input class="form-control form-control-rounded" name="topicname"  type="text"  title="only alphabets and spaces allowed" required />
                                            </div>
                                            
                                            <div class="col-md-8 modal-footer mt-8">
                                               
                                                <input class="btn btn-primary ml-2 submit" type="submit" value="Save">
                                                
                                                <a th:href="@{/admin/addnewqueation}" class="btn btn-info" role="button">add  New Queation</a>
                                                 <a th:href="@{/admin/addnewsubtopic}" class="btn btn-info" role="button">Add New Subtopic</a>
                                                  <!-- <input class="btn btn-info ml-2 addqueation" type="addqueation" value="Add Queation">-->
                                            </div>
                                        </div>
                                    </form>
												
											</div>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                  
                   
                   
                </div>
            </div>
        </div>
    </div>
   
      <div th:replace="admin/common/layout :: admin-footer-link"></div>
      
      
    <script type="text/javascript">
    
   
     $(document).on('submit', '#insert', function(e) {
        e.preventDefault();
       
        $.ajax({
            type: "ajax",
            method: "POST",
            url: "/AddNewSubject",
            data: new FormData(this),
            processData: false,
            contentType: false,
            cache: false,
            beforeSend: function() {
                 $(".submit").prop('disabled', true); 
            },

            success: function(data) {
                $(".submit").prop('disabled', false);
                $('#insert')[0].reset();
                $('#addModal').modal('hide');
               
                showAllProductList();
            },
            error: function() {
                alert('could not insert');
            }
        });
    });
    
    
   
     </script>
</body>
</html>