<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" th:lang="en">
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />

<head th:replace="admin/common/layout :: admin-header-link"></head>

<body>
	<!-- Begin page -->
	<div id="wrapper">
		<!-- Top Bar Start -->
		<div class="topbar"
			th:replace="admin/common/layout :: admin-navbar"></div>
		<!-- Top Bar End -->
		<!-- ========== Left Sidebar Start ========== -->
		<div class="left side-menu"
			th:replace="admin/common/layout :: admin-sidebar"></div>
		<!-- Left Sidebar End -->
		<!-- ============================================================== -->
		<!-- Start right Content here -->
		<!-- ============================================================== -->
		<div class="content-page">
			<!-- Start content -->
			<div class="content">
				<div class="container-fluid">
					<div class="row">
						<div class="col-sm-12">
							<div class="page-title-box">
								<div class="card m-b-20">
									<div class="card-body">
										<div class="row ">
											<!-- test -->
											<div class="col-md-12 table-responsive">
												<h4 class="mt-0 m-b-20 header-title">
													Stock Details
													<!-- <button class="btn btn-success btn-sm m-1" type="button" data-toggle="modal" data-target="#myModal" style="float: right;">New User</button>-->
												</h4>
												<table class=" table table-striped dt-responsive nowrap"
													id="datatable-buttons"
													style="border-collapse: collapse; border-spacing: 0; width: 100%;">
													<thead>
														<tr>

                                                            <th>Sr.No</th>
															<th>Product Image</th>
															<th>Product Name</th>


															<th>Available Quantity</th>

															<th>Update Stock</th>



														</tr>
													</thead>
													<tbody id="showData">

													</tbody>
												</table>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="modal fade " id="editModal" tabindex="-1" role="dialog"
						aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
						<div
							class="modal-dialog modal-md modal-dialog-centered modal-dialog-centered">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title" id="exampleModalCenterTitle">Update
										Stock</h5>
									<button class="close" type="button" data-dismiss="modal"
										aria-label="Close">
										<span aria-hidden="true">×</span>
									</button>
								</div>
								<div class="modal-body">
									<form id="update">
										<div class="row">

											<input class="form-control form-control-rounded" name=id
												id="userId" type="hidden" placeholder="user id"
												title="only alphabets and spaces allowed" required />
                                            <div class="col-md-6 form-group mb-3">
												<label for="firstName2">Product Name</label> <input
													class="form-control form-control-rounded" name="productName"
													id="productName" required readonly>
													
											</div>

											<div class="col-md-6 form-group mb-3">
												<label for="firstName2">Product Stock</label> <input
													class="form-control form-control-rounded" name="availableQuantity"
													id="availableQuantity" required>
													
											</div>

											<div class="col-md-12 modal-footer mt-3">
												<button class="btn btn-secondary" type="button"
													data-dismiss="modal">Close</button>
												<input class="btn btn-primary ml-2 submit" type="submit"
													value="Update Stock">
											</div>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div th:replace="admin/common/layout :: admin-footer-link"></div>
	<script type="text/javascript">
		$('document').ready(
				function() {

					$('#datatable-buttons').DataTable({
						destroy : true,
						lengthChange : false,
						sort : [ 2, "asc" ],
						buttons : [ 'copy', 'excel', 'colvis' ]
					}).buttons().container().appendTo(
							'#datatable-buttons_wrapper .col-md-6:eq(0)');

					showStockList();

					/* show_all_states();  */

				});

		function showStockList() {
			$('#datatable-buttons').DataTable().destroy();
			$
					.ajax({

						type : "ajax",
						dataType : 'json',
						url : "/fetch-product-stock-list",
						method : 'GET',
						async : false,
						dataType : 'json',
						success : function(data) {
							;
							var html = '';
							var arr = [ "Jan", "Feb", "March", "April", "May",
									"June", "July", "August", "Sept", "Oct",
									"Nov", "Dec" ];
							var i;

							for (i = 0; i < data.length; i++) {

							

								
								html += ' <tr>' +'<td>' + (i+1) + '</td>'
										+
										'<td>'+'<img src="'+'/uploads/product/'+data[i].productImage1+'" height="80px;" width="80px;">'+
										'</td>'
										+ '<td>'
										+ data[i].productName
										+ '</td>'
										
										+ '<td>'
										+ data[i].availableQuantity
										+ '</td>'
										+'<td>' +
				                        '<a class="text-success mr-2 edit" data="' + data[i].id + '" href="javascript:;"><i class="dripicons-document-edit"></i></a>' +
				                       /*  ' <a class="text-danger mr-2 delete" data="' + data[i].id + '" href="javascript:;"><i class="dripicons-document-delete"></i></a>' + */
				                        '</td>' 
									
										+ ' </tr>';

							}
							$("#showData").html(html);

							$('#datatable-buttons')
									.DataTable({
										destroy : true,
										lengthChange : false,
										sort : [],
										"ordering" : false,
										buttons : [ 'copy', 'excel', 'colvis' ]
									})
									.buttons()
									.container()
									.appendTo(
											'#datatable-buttons_wrapper .col-md-6:eq(0)');

						},
						error : function() {
							alert('could not get data from database');
						}
					});
		}

		$('#showData').on('click', '.edit', function() {
			var id = $(this).attr('data');
			$('#editModal').modal('show');

			$.ajax({
				type : 'ajax',
				method : 'GET',
				url : "/get-product",
				data : {
					Id : id
				},
				async : false,
				dataType : 'json',
				success : function(data) {

					$("#userId").val(data.id);
					$("#productName").val(data.productName);
					$("#availableQuantity").val(data.availableQuantity);

				},
				error : function() {
					alert('Could not Edit Data');
				}
			});
		});

		$(document).on('submit', '#update', function(e) {

			e.preventDefault();

			$.ajax({
				url : "/update-product-stock",
				method : 'POST',
				data : new FormData(this),
				contentType : false,
				processData : false,
				cache : false,
				beforeSend : function() {

					$(".submit").prop('disabled', true);
				},

				success : function(data) {
					$(".submit").prop('disabled', false);
					$('#update')[0].reset();
					$('#editModal').modal('hide');

					showStockList();
					//alert('User Updated');

				},
				error : function() {
					/*alert('could not insert');*/
				}
			});

		});

		$(document).on('click', '.delete', function() {
			var Id = $(this).attr('data');
			if (confirm('Are you want to delete this?'))
				$.ajax({
					method : "POST",
					url : "/delete-book-user",
					data : {
						Id : Id
					},
					success : function(data) {
						showStockList();
						alert(' user Deleted');
					},
					error : function() {
						alert('could not delete');
					}
				});
		});
	</script>
</body>

</html>