<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" th:lang="en">
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />

<head th:replace="admin/common/layout :: admin-header-link"></head>

<body>
    <!-- Begin page -->
    <div id="wrapper">
        <!-- Begin page -->
        <div class="wrapper-page">
            <div class="card">
                <div class="card-body">
                    <!-- <h3 class="text-center m-0">
                        <a href="index-2.html" class="logo logo-admin"><img src="assets/images/logo.png" height="30" alt="logo"></a>
                    </h3> -->
                    <!-- test -->
                    <div class="p-3">
                        <h4 class="text-muted font-18 m-b-5 text-center">Login</h4>
                        <p class="text-center"> </p>
                        <div th:if="${param.error}" th:with="errorMsg=${session['SPRING_SECURITY_LAST_EXCEPTION'].message}" class="alert alert-card alert-danger"
                                role="alert" id="msg">
                                Invalid Credentials
                                <button class="close" type="button" data-dismiss="alert"
                                    aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
							<div th:if='${message}' class="alert alert-card alert-danger"
								role="alert" id="msg">
								<span th:text="${message}"></span>
								<button class="close" type="button" data-dismiss="alert"
									aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div th:if="${success}" class="alert alert-card alert-success"
								role="alert" id="msg">
								<span th:text="${message}"></span>
								<button class="close" type="button" data-dismiss="alert"
									aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
                        
                        <form class="form-horizontal m-t-30" action="/admin/do-admin-sign-in" method="POST">
                           
                            <div class="form-group">
                            
                                <label for="email">Email</label>
                                <input type="text" class="form-control" required="required" name=email id="email" placeholder="Enter email">
                            </div>
                            <div class="form-group">
                                <label for="password">Password</label>
                                <input type="password" class="form-control" required="required" name="password" id="password" placeholder="Enter password">
                            </div>
                            <div class="form-group row m-t-20">
                                <div class="col-6">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="customControlInline">
                                    </div>
                                </div>
                                <div class="col-8 text-right">
                                    <button class="btn btn-primary w-md waves-effect waves-light" type="submit">Log In</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div th:replace="admin/common/layout :: admin-footer-link"></div>
</body>

</html>